@font-face {
    font-family: peach;
    src: url(Fonts/peachy_mochi/Peachy/Mochi.ttf);

    font-family: choco;
    src: url(Fonts/chocolate_5/Chocolate.ttf);
}
body
{
    font-family:"Times New Roman", Times, serif;
    background-color:#181510;
    color: #785f37;
}
a
{
    cursor: pointer;
    color: #A08C5B;
}
a:hover
{
    cursor: pointer;
    color: white;
}
.box
{
    position:relative;
    text-align: center;

}

.overlaytop
{
   position:fixed;
   top: 1%;
   right: 50%;
   left: 40%;
   background-color: #A08C5B;
   transition: transform(00.5s);
}
.animate:hover
{
    transform: translateY(-10px);   
}
.overlaycenter
{
   position: absolute;
   top: 50%;
   right: 50%;
   background-color: #A08C5B;
   padding: 1em;
   border-radius: 5px;
   height: 150px;
   width: fit-content;
   
}

.overlaycenter h1{
    font-family: 'choco', 'Times New Roman', Times, serif;
    color: #A08C5B;
    text-shadow: 0,0,0,0.5 #000 ;
}
.overlaycenter h2{
    font-family: 'choco', 'Times New Roman', Times, serif;
    color: #A08C5B;
    text-shadow: 0,0,0,0.5 #000 ;
    font-weight: bolder;
}
.overlaycenter h6{
    font-family: 'choco', 'Times New Roman', Times, serif;
    color: #A08C5B;
    text-shadow: 0,0,0,0.5 #000 ;
    font-weight:lighter;
}

.btnColor
{
    color:black;
}
.containerfooter
{
    height:2vh;
    width: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #785f37;
    
}
.menufooter
{
    background: transparent;
    display: flex;
    box-shadow:0 10px 10px 0px rgba(0,0,0,0.1) ;
    overflow: hidden;

}

.menufooter div{
    padding: 1em 2em;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    transition: transform 0.5s;
}
.menufooter div span
{
    position: absolute;
    color: #785f37;
    width: 100%;
    height: 100%;
    padding:1em 2em;
    left: 0;
    top: 100%;
    border-bottom: 5px solid #785f37;

}
.menufooter div:hover
{
    transform: translateY(-100%);
}

