*
{
    font-family: 'Times New Roman', Times, serif;

}

.stick
{
    position: fixed;
}
.navbar
{
    display: flex;
    align-items: center;
    height: max-content;
    
}
nav
{
 flex: 1;
 align-items: center;
justify-content: center;

}
.grad
{
    background-image: linear-gradient(to bottom right, #E9DBBD, #CBB682, #A08C5B, #785F37);
}

nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 30px;
    justify-content: center;
    align-items: center;
}
nav ul li a
{
    text-decoration: none;
    color: BLACK;
    size: 100px;
}
.imageround
{
   border-radius: 100%;
   height: 350px;  
}
hr
{
    height:2px;
    border-width:0;
    color:#A08C5B;
    background-color:#A08C5B;
}
p a
{
    text-decoration-line: underline;
}
.skillsimage
{
    height: 50px;
}
.vr
{
    border-left: 2px solid #785f37;
    height: 500px;
    left: 50%;
    
}